@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background: url(../image/fabric_1.webp);
}

/* Navbar */
nav {
  font-weight: 600;
  font-size: 20px;
  box-shadow: -1px 7px 18px -3px rgba(10,8,45,0.84);
  -webkit-box-shadow: -1px 7px 18px -3px rgba(10,8,45,0.84);
  -moz-box-shadow: -1px 7px 18px -3px rgba(10,8,45,0.84);
  margin-bottom: 30px;
  color: #fff;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-item img {
  width: 100px;
  height: 100px;
}
.nav-item a{
  transition: 0.3s ease;
}
.nav-item a:hover {
  color: #72AFC1;
}


/* codepan */
.wrapper-codepan {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 20px 50px;
}
.container {
    position: relative;
    width: 480px;
    height: 300px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  
  .container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  
  .container img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }
  
  .title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }
  
  .container:hover .title {
    top: 90px;
  }
  
  .button {
    position: absolute;
    width: 100%;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button a {
    width: 100%;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    text-decoration: none;
  }
  
  .container:hover .button {
    opacity: 1;
  }

  /* codepan close */
  .carousel {
    display: none;
  }
  /* carousel */

  @media screen and (max-width: 992px) {
  .wrapper-codepan {
    display: none;
  }

  .carousel {
    display: flex;
    margin: 30px auto;
    width: 90%;
  }
  .carousel-item {
    width: 100%;
  }
  .carousel-item img {
    height: 400px;
    border-radius: 10px;
  }
  .carousel-item h5 {
    font-weight: 700;
    font-size: 30px;
    text-shadow: 2px 3px 3px rgba(0,0,0,0.44);
  }
  .carousel-item:hover img {
    filter: brightness(70%);
    transition: filter 0.3s ease-in-out;
  }
  .carousel-item:hover  h5 {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}
    
  /*  */

  #sk {
    padding: 1px;
  }

  .sdank {
    width: 50%;
    height: fit-content;
    display: flex;
    background-color: #72afc1a4;
    justify-content: center;
    align-items: center;
    margin:150px auto;
    border-radius: 8px;
    box-shadow: 0px 2px 13px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 13px -3px rgba(0,0,0,0.75); 
    -moz-box-shadow: 0px 2px 13px -3px rgba(0,0,0,0.75);
  }

  @media screen and (min-width: 100px) {

  .sdank {
    width: 80%;
    margin-top: 100px;
  }
  .tulisan h4 {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    padding: 20px;
  }

  .tulisan h3 {
    text-align: justify;
    color: #ffffff;
    font-size: 18px;
    margin: 20px 25px;
    line-height: 1.8;
  }
}

  .footer {
    background-color: #0A082D;
    padding: 20px 0 10px ;
    box-shadow: 0px -1px 10px 1px rgba(10,8,45,0.84);
    -webkit-box-shadow: 0px -1px 10px 1px rgba(10,8,45,0.84);
    -moz-box-shadow: 0px -1px 10px 1px rgba(10,8,45,0.84);
  }
  
  .kaki {
    max-width: 1170px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col ul{
    list-style: none;
    
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer-col ul li {
    font-size: 15px;
  }
  
  .footer-col img {
    width: 90px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  .copyright {
    text-align: center;
    color: #fff;
    font-size: 10px;
  }
  


  @media screen and (max-width: 376px) {
    * {
      overflow-x: hidden;
    }
    .row {
      width: 100%;
    }

    .carousel-item img {
      height: 300px;
    }

    .footer-col {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      padding: 0;
    }
  
    .footer-col img {
      width: 90px !important;
      margin: 0 auto 10px;
    }
    .footer-col h4 {
      font-size: 15px;
      margin-bottom: 15px;
    }
    .footer-col ul li a {
      font-size: 13px;
      text-align: start;
    }
  
  } 