@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
header {
  text-align: center;
  background-color: #ffffff5e;
  color: #16446A;
  padding: 10px 0;
}
header img {
  width: 80px;
}
header p {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
}


.container-main {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 10px 50px;
}
.kiri img {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  border: 2px solid #0A082D;
  margin-right: 50px;
}
.lokasi {
  margin: 10px 0;
}
.lokasi i {
  color: #72AFC1;
  font-size: 20px;
  margin-right: 10px;
}
.lokasi span {
  font-size: 20px;
  font-weight: 500;
}
.lokasi p {
  font-size: 15px;
  font-weight: 400;
}
.pemesanan {
  text-decoration: none;
  text-align: center;
}
.pemesanan button {
  background-color: #72AFC1;
  border: none;
  box-shadow: none;
  width: 200px;
  border-radius: 30px;
  padding: 12px 10px;
  cursor: pointer;
  color: #ffff;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s ;
  font-size: 20px;

}
.pemesanan a {
  text-decoration: none;
}
.pemesanan button:hover {
  border: 1px dotted #16446A;
}
.pemesanan a:visited, .pemesanan button:visited {
  color: #ffff;
}

.kanan {
  max-height: fit-content;
}
.kanan h1 {
  font-weight: 700;
  margin-bottom: 20px;
}
.deskripsi {
  display: flex;
  gap: 300px;
  margin-left: 10px;
}
.deskripsi h3, .deskripsi-pemilik h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.fasilitas li, .spesifikasi li{
  margin-bottom: 15px;
  font-size: 15px;
}

.deskripsi-pemilik {
  margin: 15px 12px 0 0;
  padding: 10px;
  border-radius: 15px;
  box-shadow: -2px 3px 20px -3px rgba(0,0,0,0.59);
  -webkit-box-shadow: -2px 3px 20px -3px rgba(0,0,0,0.59);
  -moz-box-shadow: -2px 3px 20px -3px rgba(0,0,0,0.59);
}
.deskripsi-pemilik h3 {
  text-align: center;
}
.footer {
  background-color: #0A082D;
  padding: 30px 0;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.kaki {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col ul{
  list-style: none;
  
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col ul li {
  font-size: 15px;
}

.footer-col img {
  width: 90px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}